@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;1,400;1,500&display=swap');

.titleText{
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: 'Lobster', cursive;
}
.titleText .title{
    margin: auto;
    font-size: 2rem;
    color: #EDBB00;
    font-weight: 500;
    position: relative;
    z-index: 1;
}
.titleHalf{
    color: #1f1ffc;
} 
.titleText .title::after {
    content: "";
    width: 3rem;
    height: 2rem;
    background: linear-gradient(#3434ff,#f3c41b);
    position: absolute;
    top: -30px;
    left: 0;
    z-index:-1;
    transform: rotate(3deg);
    border-top-left-radius: 62px;
    border-bottom-right-radius: 55px;
}
.title{
    color: #555;
    font-size: 1.5rem;
}
#faqQue{
    color: #000000c7;
}
.details{
    transition: 0.5s;
}
.FormTitle{
    font-weight: 400;
    color: #4a4f55;
    font-family: serif;
}
.btnReadmore{
    border: 1px solid #fff;
    color: #ffffffe3;
    padding: 6px 2.5rem;
    border-radius: 1rem;
    font-size: 1em;
    font-weight: 600;
    background: #1f1ffc;
}
.btnReadmore:hover{
    background: #EDBB00;
    color: #000000e5;
    transition: all 0.5s ease-in-out;
}