

.menu{
    width: 300px; height:100vh;
    background-color: #10022c;
    position:fixed;
    top: 0;
    right: -300px;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 0.5s ease;
    &.active{
        right: 0;
    }
    ul{
        margin: 0;
        padding: 0;
        list-style: none;
        font-size:1.3rem;
        font-weight: 500;
        color: white;
        width: 60%;
        li{
            margin-bottom: 15px;
            padding: 6px 20px;
            background-color: #fff;
            color: #333;
            text-align: center;
            border-radius: 10px;
            font-weight: 600;
            font-size: .88rem;
            text-transform: uppercase;
            transition: all 0.5s ease;
            a{
                font-size: inherit;
                color: inherit;
                text-decoration: none;
                // color: #fff;
            }
            .nav_log{
                cursor: pointer;
            }       
            &:hover{
                font-weight: 500;
                background-color: #2e70ff;
                color: #fff;
            }
        }
    }
}