ul {
    margin: 0px;
    padding: 0px;
}
.footerSection {
  background: #151414;
  position: relative;
}
.logo{
    width:100%;
    height:40px;
    font-size: 2rem;
    color: #1f1ffc;
    font-weight: 600;
    font-family: 'Lobster', cursive;
}

.logoTwo{
    font-size: 2rem;
    color: #EDBB00;
    font-family: 'Lobster', cursive;
    font-weight: 600;
}
.footer-cta {
  border-bottom: 1px solid #373636;
}
.singleCta .fas {
  color: #ffcc0b;
  font-size: 30px;
  margin-top: 8px;
}
.ctaText {
  padding-left: 15px;
  display: inline-block;
}
.ctaText h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
.ctaText span {
  color: #757575;
  font-size: 15px;
}
.footer-widget {
  position: relative;
  z-index: 2;
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}

.footerLogo .logo {
    height: 100px;
}
.footerText p {
  margin-bottom: 14px;
  font-size: 14px;
      color: #7e7e7e;
  line-height: 28px;
}
.footerSocialIcon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
}
.footerSocialIcon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}
.li{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footerSocialIcon .SocialIcon{
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 38px;
    border-radius: 4%;
}
.facebookBg{
  background: #3B5998;
}
.twitterBg{
  background: #55ACEE;
}
.youtubeBg{
  background: #DD4B39;
}
.footerWdgetHeading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}
.footerWdgetHeading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #ffcc0b;
}
.footerWdget ul li {
  display: inline-block;
  float: left;
  width: 50%;
  margin-bottom: 12px;
}
.footerWdget ul li a:hover{
  color: #ffcc0b;
}
.footerWdget ul li a {
  color: #878787;
  text-transform: capitalize;
}
.subscribeForm {
  position: relative;
  overflow: hidden;
}
.subscribeForm input {
  width: 100%;
  padding: 14px 28px;
  background: #2E2E2E;
  border: 1px solid #2E2E2E;
  color: #fff;
}
.subscribeForm button {
    position: absolute;
    right: 0;
    background: #ffcc0b;
    padding: 13px 20px;
    border: 1px solid #ffcc0b;
    top: 0;
}
.subscribeForm button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}
.copyrightArea{
  background: #202020;
  padding: 25px 0;
}
.copyrightText p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}
.copyrightText p a{
  color: #ffcc0b;
}
.footerMenu li {
  display: inline-block;
  margin-left: 20px;
}
.footerMenu li:hover a{
  color: #ffcc0b;
}
.footerMenu li a {
  font-size: 14px;
  color: #878787;
}


@media only screen and (max-width: 600px) {
    .fas, .ctaText{
        display: inline-block;
    }
    .footer-cta{
      width:100%;
    }
  }