#detailsContainer{
    background-color: #e5f9fa73;
}
#details{
    display: flex;
    justify-content:center;
    align-items:start;
    background-color: #fff;
    padding: 1.88rem;
    border-radius: 1.55rem;
    box-shadow: 10px 10px 37px -14px #00000050;
    -webkit-box-shadow: 10px 10px 37px -14px #53535369;
    -moz-box-shadow: 10px 10px 37px -14px #55545469;
}
.imgContainer{
    width: auto;
    height: auto;
    display: flex;
    justify-content:flex-end;
    align-items:center;
   
}
.img{
    width: 100%;
    height: 18rem;
    object-fit: cover;
    margin-right: 2px;
    border-radius: 1rem;
}
.dataContainer{
    padding: 7px;
    max-width: 25rem;
}
.h3{
  font-weight: 700;  
  letter-spacing:2px;
  font-size: 2em;
  color: #000000d2;
}
.type{
    color: #999;
    letter-spacing:2px;
}
.rating{
    margin-left: 1em;
 
}
.ratingIcon{
    font-size: 1em;
    color: goldenrod;
    margin: 3px;
}
.description{
    color: #000000b4;
    font-weight: 400;
    font-size: .94em;
    text-align: justify;
}
.buyContainer{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.price{
    color: #000000d2;
    font-weight: 500;
    font-size: 1.56em;
}
.btn{
    margin-left: 4rem;
    border: 1px solid #999;
    background-color: #fff;
    padding: 5px 20px;
    font-weight: 600;
    font-size: .80rem;
    transition: all 0.5s ease;
    border-radius: 10px;
}
.btn:hover{
    background-color: #2f2ff5da;
    font-weight: 600;
    color: #fff;
    border: none;
    border: 1px solid #fff;
} 

/* responsive styles */
@media only screen and (max-width:468px) {
    #details{
        flex-direction:column;
    }
}