#card{
    border: none;
    box-shadow: 10px 10px 37px -14px rgba(0,0,0,0.41);
    -webkit-box-shadow: 10px 10px 37px -14px rgba(0,0,0,0.41);
    -moz-box-shadow: 10px 10px 37px -14px rgba(0,0,0,0.41);
    transition: all 0.5s ease-in-out;
}
#card:hover{
    transform: scale(1.1);
}
.icon{
    font-size: 1.2rem;
    margin-left: 15px;
    margin-top: 10px;
    color: #0099FF;
}
.date{
    font-size: .79rem;
    margin-right: 15px;
    color: #000000c7;
    letter-spacing:2px;
    font-weight: 400;
}
.reviewParagraph{
    padding: 13px;
    color: #999;
    text-align: justify;
    font-size: .88rem;
}

#cardBody{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}
.Sicons{
    margin: 10px;
    font-size: 1.44rem;
    margin-top: -6px;
    margin-bottom: -4px;
    cursor: pointer;
}
#facebook{
    color: #3030f8; 
    border-radius: 50%;
}
#instagram{
    color: #ff0055;
    border-radius: 10px;
}
#twitter{
    color: #0099FF;
    border-radius: 10px;
}
.name{
    letter-spacing:2px;
    font-weight: 700;
    color:#000000c7;
}
.position{
    font-size: .7rem;
    color: #000000c7;
    letter-spacing:2px;

}
#reviewImgContainer{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content:center;
    align-items:center;
}
.overlay{
    width: 100px;
    height: 100px;
    border-radius: 1px 60px 0px 55px;
    background-color: #c0ceef52;
    transition: all 0.5s ease-in-out;
}
.reviewImg{
    width: 80%;
    height: 80%;
    border-radius: 50%;
}
#card:hover .overlay{
    border-radius: 10px 10px 10px 10px;
}
#card:hover{
    background-color: #eefbfd38;
}