.wrapper{
    box-sizing: border-box;
    height: 100%;
    padding: 2rem;
    border-radius: 10px;
    transition: transform 0.4s;
    box-shadow: 2px 2px 10px 0px #888484;
}
.wrapper:hover{
    transform:translateY(10px);
}
.wrapper:nth-child(2){
    background-color: #EDBB00;
}
#yellow{
    background-color: #EDBB00;
}
ul li{
    color:#555;
}

.featureIcon{
    background: #1f1ffc;
    max-width: 100%;
    align-items: center;
    display: flex;
    padding: 7px;
    border-radius:1rem;
    justify-content: center;
}
.featureIcon:hover{
    transition: 0.3s all;
    background: #EDBB00;
    color: #000000e5;
}
.icon{
    font-size: 3rem;
    color:#fff;
}
.FeatureTitle{
    text-align: center;
    font-size: 1.5rem;
    margin-top: 7px;
}
.btnReadmore{
    border: 1px solid #fff;
    color: #ffffffe3;
    padding: 5px 1rem;
    border-radius: 1rem;
    font-weight: 600;
    background: #1f1ffc;
}
.btnReadmore:hover{
    background: #EDBB00;
    color: #000000e5;
    transition: all 0.5s ease-in-out;
}
.arrow{
    color: #fff;
    display: inline-block;
    margin-right:5px;
}
.arrow:hover{
    background: #EDBB00;
    color: #000000e5;
}

.li{
    display: flex;
    justify-content:space-between;
    align-items: center;
    color: #555;
    padding-top: 5px;
}
.phnNumber{
    text-align: center;
    margin-top: 10px;
}
.phoneText{
    margin-top: 1.5rem;
   color: #555;
    display: block;
    text-align: center;
    align-items: center;
}
@media only screen and (max-width: 468px) {
    .wrapper{
        height:20rem;
        margin: 1rem;
    }
}